*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(227, 245, 198), rgb(191, 231, 249));
}

.center{
    display: flex;
    position: relative;
    top: 20px;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0 auto;
    width: 50%;
}

.textcenter {
    position: relative;
    left: 20%;
}

.image-container{
    position: relative;
    left: 35%;
}
.image-container a img{
    width: 5%;
    display: inline-block;
    position: relative;
    left: 5%;    
}
.menu{
    padding-top: 30px;
    width: 60%;
    text-align: right;
}

.menu a{
    color: rgb(64, 6, 6);
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

.boxe{
    color: rgb(10, 10, 10);
    position: relative;
    top: 400px;                                              /*centralizando o bloco - vertical*/
    left: 50%;                                               /*centralizando o bloco - horizontal*/
    transform: translate(-50%,-50%);                         /*centralizando o bloco*/
    background-color: rgba(161, 139, 243, 0.6);            /* cor de dentro do bloco*/
    padding: 15px;                                           /*tamanho da cor dentro do bloco - altura*/
    border-radius: 15px;                                     /*arrumando a borda da cor de dentro do bloco*/
    width: 50%;                                              /*tamanho do quadrado*/
}

.cont{
    position: relative;
    right: -13%;
}

.textfale{
    position: relative;
    left: 35%;
}

.w-form {
    margin: 0 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
form {
    display: block;
    margin-top: 0em;
}

.field_form {
    margin-right: 6px;
    margin-left: 0px;
    border-radius: 5px;
    font-family: Lato, sans-serif;
}

.w-input, .w-select {
    display: block;
    width: 100%;                      /*tamanho da caixinha - horizontal*/
    height: 38px;                     /*tamanho da caixinha - vertical*/
    padding: 8px 12px;                /*espaçamento - 8px: tamanho da caixinha - vertical / 19px: espaço da frase dentro da caixinha - horizontal */
    margin-bottom: 10px;              /*espaçamento vertical entre as caixinhas*/
    font-size: 14px;                  /*tamanho da fonte dentro da caixinha*/
    line-height: 1.42857143;          /*espaçamento da caixinha "mensagem" */
    color: #0a0909;                 /*cor da letra dentro da caixinha (quando vai inserir)*/
    background-color: #ece3e3;      /*cor da caixinha*/
    border: 1px solid #fce5e5;      /*cor borda da caixinha*/
} 

.contato_label.email {
    margin-top: 20px;
}

.botao_enviar {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #80ee37;
    font-family: Comfortaa, sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
}

fieldset{
    border: 3px solid rgb(33, 2, 70);
}

.cont p{
    right: -50px;
}
