*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, rgb(244, 233, 247), rgb(216, 234, 243));
    width: 550px;
    font-size: 18px;
}
.topo{
    height: 200px;
    position: relative;
    left: 50%;
}
.navImg{
    width: 300px;
    position: relative;
    top: 20px;  
}
.menu{
    position: relative;
    top: -40px;
    left: 500px;
}
.menu a{
    color: rgb(64, 6, 6);
    text-decoration: none;
    font-weight: bold; 
    margin-left: 20px; 
    font-size: 22px;
}

.box1{
    width: 900px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    position: relative;
    top: -50px;
    left: 340px;
    font-style: unset;
    font-size: 20px;  
}

#legend1 {
    text-align: center;
    font-size: 25px;
}

.box{
    color: white;
    position: relative;
    top: 5px;
    left: 350px;
    background-color: rgba(101, 96, 184, 0.6);
    padding: 15px;
    border-radius: 20px;
    width: 800px;
}

fieldset{
    border: 3px solid rgb(181, 46, 219);
    border-radius: 10px;
}

#legend2{
    padding: 8px;
    text-align: center;
    background-color: rgb(181, 46, 219);
    border-radius: 8px;                         /*arredonda mais a borda do "inscrição para voluntarios"*/
}

.textForm{
    padding-left: 10px; 
}

.inputBox{
    position: relative;
}

.inputUser{                               /*estilização dos textos dentro das celulas no formulario*/
    background: none;
    border: none;
    outline: none;                         
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;                         
    width: 100%;                            
    letter-spacing: 2px;                    /*espaçamento entre as letras */
    padding-left: 10px;
}

.labelInput{                               /*estilização dos textos dentro das celulas no formulario*/
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
    font-size: 18px;
    padding-left: 10px;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{             /*transição dos titulos das celulas no formilario*/
    top: -20px;
    font-size: 15px;
    color: rgb(5, 31, 58);
}

.button{
    padding-left: 10px;
}

#data_nascimento{                               /*estilização da data de nascimento no formulario*/
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
}

#submit{                                        /*estilização do butão "enviar" no formulario*/
    background-image: linear-gradient(to right,rgb(4, 120, 253), rgb(88, 4, 245));
    width: 100%;
    border: none;
    padding: 15px;
    color: rgb(248, 244, 244);
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
    background-image: linear-gradient(to right,rgb(205, 102, 243), rgb(99, 73, 245));
}

.redesRodape{  
    width: 900px; 
    color: black;
    position: relative;
    top: -1px;
    left: 360px;
    font-style: unset;
    font-size: 20px;                                   /*arrumando a borda da cor de dentro do bloco*/  
}

#textRodape{
    position: relative;
    top: 50px;
    left: 10px;
}
.redesRodape a img{
    width: 25%;
    display: inline-block;
    position: relative;
    top: 60px;
}

.redesRodape ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.redesRodape ul a{
    display: block;
    padding: 10px;
}
