html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 162, 175);
}

.wrapper {
    min-height: 130%;
    margin-bottom: -20px; /* Altura do rodapé */
}

header {
    background-color: pink;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: rgb(57, 119, 57);
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.main-content {
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 600px;
}

.main-content p {
    margin: 0;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    height: 50px; /* Altura do rodapé */
}